<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" type="text/css" href="css/iconfont.css">-->
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/bookcase.css">
    <script src="js/zepto.js"></script>
    <script src="js/swiper.jquery.min.js"></script>
    <script src="js/iscroll.js"></script>
    <script src="js/bookcase.js"></script>
</head>
<body class="zh_body">
<header class="zh_header">
    <div class="zh_box">
        <span>我的书架</span>
        <div></div>
        <span>MY BOOKSHELF</span>
    </div>
    <a class="zh_search">
    </a>
</header>
<div id="wrapper">
    <div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/tds003tg2260.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="zh_latest_box">
            <div class="headline">
                <div class="icon_jiao"></div>
                <div class="zi_box">
                    <h4>最新上架 <span>.</span><span>.</span><span>.</span></h4>
                    <h4>NEW RELEASES</h4>
                </div>
            </div>
            <div class="swiper-container1">
                <div class="swiper-wrapper">
                    <a class="swiper-slide">
                        <div class="img_box"><img src="img/shupicture.png" alt=""></div>
                        <span>书籍名</span>
                        <span>英文名</span>
                    </a>
                    <a class="swiper-slide">
                        <div class="img_box"><img src="img/shupicture.png" alt=""></div>
                        <span>红楼梦</span>
                        <span>HONG LOUMENG</span>
                    </a>
                    <a class="swiper-slide">
                        <div class="img_box"><img src="img/shupicture.png" alt=""></div>
                        <span>书籍名</span>
                        <span>英文名</span>
                    </a>
                    <a class="swiper-slide">
                        <div class="img_box"><img src="img/shupicture.png" alt=""></div>
                        <span>书籍名</span>
                        <span>英文名</span>
                    </a>
                    <a class="swiper-slide"></a>
                    <a class="swiper-slide"></a>
                </div>
            </div>
        </div>
        <div class="zh_latest_box">
            <div class="headline">
                <div class="icon_jiao icon_read"></div>
                <div class="zi_box">
                    <h4>最近阅读 <span>.</span><span>.</span><span>.</span></h4>
                    <h4>RECENTLY READ</h4>
                </div>
            </div>
            <div class="read_list">
                        <div class="picture"><img src="img/shupicture.png" alt=""></div>
                        <div class="message">
                            <span class="head">愿有人陪你颠沛流离</span>
                            <span>SOMEONE IS WILLING TO DRIFT FROM PLACE TO PLACE WITH YOU</span>
                            <span class="line">....................................</span>
                            <span style="font-size: 0.2rem">读至：“每个人都在等，每个人都会等”</span>
                            <span>愿你能够明白世上所有的相遇都有它的意义正是因为一路上失去了太多才会更加珍惜现在的所得真是因为经历了这...</span>
                            <div class="process_box">
                                <span>已读<i style="color:#29A5DB">36%</i></span>
                                <div class="progress"><div></div></div>
                                <a class="btn">继续阅读</a>
                            </div>
                        </div>
                    </div>
            <div class="read_list">
                        <div class="picture"><img src="img/shupicture.png" alt=""></div>
                        <div class="message">
                            <span class="head">愿有人陪你颠沛流离</span>
                            <span>SOMEONE IS WILLING TO DRIFT FROM PLACE TO PLACE WITH YOU</span>
                            <span class="line">....................................</span>
                            <span style="font-size: 0.2rem">读至：“每个人都在等，每个人都会等”</span>
                            <span>愿你能够明白世上所有的相遇都有它的意义正是因为一路上失去了太多才会更加珍惜现在的所得真是因为经历了这...</span>
                            <div class="process_box">
                                <span>已读<i style="color:#29A5DB">36%</i></span>
                                <div class="progress"><div></div></div>
                                <a class="btn">继续阅读</a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
<footer class="zh_footer">
    <a class="btn">
        <span class="iconfont icon-shujia action"></span>
        <span class="action">书架</span>
    </a>
    <a class="btn">
        <span class="iconfont icon-shu"></span>
        <span>书城</span>
    </a>
    <a class="btn">
        <span class="iconfont icon-icon"></span>
        <span>我的</span>
    </a>
</footer>
</body>
</html>