<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    <title>Document</title>
    <link rel="stylesheet" href="css/ZH.css"/>
    <script src="js/base.js"></script>
</head>
<style>




</style>
<body>

<div class="ZH-find-header">

    <div class="ZH-reg">
        <a href="">&lt;</a>
        找回密码

    </div>
    <div class="ZH-logo-find"><img src="img/logo_03.png" alt=""/></div>
</div>
<div class="ZH-logobox">
    <div class="ZH-find-word">或作或辍，一曝十寒，则虽读书百年，吾未见其可也。
        <div class="ZH-name">——吴梦祥</div>
        <form action="" method="post" id="one" >
            <div class="ZH-user">
                <i class="icon-font "></i>  <!-- 字体图标-->
                <input type="text" name="username" placeholder="输入您的学号/工号"/>
            </div>
            <div class="ZH-pass">
                <input type="text" name="name" placeholder="请输入您的姓名"/>
            </div>
            <div class="ZH-findbox">
                <!--<div class="findpass">-->
                <!--</div>--><div class="zhuce">
                    <i class="icon-font"></i><!-- 字体图标-->
                    <a href="">我要注册</a>
                </div>
            </div>
            <div class="ZH-btn">
                <input type="submit" name="submit" value="下一步"/>
                <div class="dian1"></div>
                <div class="dian2"></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>