<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    <title>Document</title>
    <link rel="stylesheet" href="css/ZH.css"/>
    <script src="js/base.js"></script>
</head>
<style>

    /*.ZH-header{*/
        /*width:7.5rem;*/
        /*height:2.52rem;*/
        /*background: #29a6dc;*/
    /*}*/






</style>
<body>

<div class="ZH-reg-header">
    <div class="ZH-reg">
        <a href="/">&lt;</a>
        注册</div>
    <div class="ZH-logo-reg"><img src="img/logo_03.png" alt=""/></div>
</div>
<div class="ZH-logobox">
    <div class="ZH-reg-word">
        <form action="/zhuce" method="post" id="three">
            <div class="ZH-user">
                <i class="icon-font "></i>  <!-- 字体图标-->
                <input type="text" name="username" placeholder="输入您的学号/工号"/>
            </div>
            <div class="ZH-reg-name">
                <i class="icon-font "></i>  <!-- 字体图标-->
                <input type="text" name="name" placeholder="输入您的姓名"/>
            </div>
            <div class="ZH-pass">
                <input type="password" name="password1" placeholder="请输入6--12位密码"/>
            </div>
            <div class="ZH-pass">
                <input type="password" name="password2" placeholder="请再次输入密码"/>
            </div>
            <div class="ZH-findbox">

                <div class="zhuce">
                    <i class="icon-font"></i><!-- 字体图标-->
                    <a href="">我要注册</a>
                </div>
            </div>
            <div class="ZH-reg-btn">
                <input type="submit" name="submit" value="立即注册"/>
                <div class="dian1"></div>
                <div class="dian2"></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>