<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--<link rel="stylesheet" href="../public/css/search.css"/>-->
    <link rel="stylesheet" href="css/search.css"/>
    <script src="public/js/base.js"></script>
</head>
<body>
<div class="ZH-search-header">
    <a href="">&lt;</a>
    <div class="ZH-search-box">
        <div class="icon-font" id="sousuo"></div>   <!--搜索字体图标 -->
        <input type="text" name="search" placeholder="搜索本地或网络书籍"/>
    </div>
</div>
<div class="ZH-hotsearch-box">
     <div class="icon-font " id="ZH-xing"></div>
    <div class="ZH-hotsearch">热门搜索
        <div class="ZH-dian" style="background: #FE58AA;right: 0.05rem"></div>
        <div class="ZH-dian" style="background: #58FEDD;right: 0.15rem"></div>
        <div class="ZH-dian" style="background: #FFC63E;right: 0.25rem"></div>
        <p>HOT SEARCH</p></div>
</div>
<ul class="search-list-box">
    <li class="search-list">
        <div class="book-img">
            <img src="" alt="" style="width: 100%"/>
        </div>
        <div class="book-information">
            <h3 class="ZH-book-title">《汉字：汉字设计与应用》</h3>
            <p class="ZH-book-present">一本关于汉字设计与美学的书，既能彰显出当代汉字及汉字...</p>
            <div>
                <div class="book-press">
                    <i class="icon-font"></i>
                    华中科技大学出版社
                </div>
                <div class="book-position">
                    <i class="icon-font"></i>
                    图书馆北二层
                </div>
            </div>
        </div>
    </li>
</ul>
</body>
</html>