<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    <title>Document</title>
    <link rel="stylesheet" href="css/ZH.css"/>
    <script src="js/base.js"></script>
</head>
<style>
    /*html,body{*/
        /*width: 100%;*/
        /*height: 100%;*/
        /*padding: 0;*/
        /*margin: 0;*/
        /*overflow: hidden;*/
    /*}*/
    /*.ZH-header{*/
        /*width:7.5rem;*/
        /*height:4.32rem;*/
        /*background: #29a6dc;*/
    /*}*/
    /*.ZH-update{*/
        /*float: left;*/
        /*width: 100%;*/
        /*height: 0.45rem;*/
        /*font-size: 0.36rem;*/
        /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
        /*text-align: center;*/
        /*margin-top: 0.33rem;*/
        /*color: #fff;*/
        /*position: absolute;*/
    /*}*/
    /*.ZH-update a{*/
        /*display: block;*/
        /*width: 0.45rem;*/
        /*height: 0.45rem;*/
        /*border:0.02rem solid #107BC6;*/
        /*border-radius: 0.45rem;*/
        /*position: absolute;*/
        /*left: 0.25rem;*/
        /*background: #fff;*/
        /*text-decoration: none;*/
        /*color: #41B0DF;*/
        /*text-align: center;*/
        /*line-height: 0.45rem;*/

    /*}*/
 /**/
    /*.ZH-logo img{*/
        /*width: 100%;height: 100%;*/
        /*margin:0 auto;*/
    /*}*/
    /*.ZH-logobox{*/
        /*wdith:100%;*/
        /*height:8.6rem;*/
        /*position: relative;*/
    /*}*/
    /*.ZH-word{*/
        /*width: 100%;*/
        /*font-size: 0.23rem;*/
        /*margin-top: 1.45rem;*/
        /*color: #0A196B;*/
        /*text-align: center;*/
    /*}*/
    /*.ZH-name{*/
        /*position: absolute;*/
        /*right: 0.68rem;*/
        /*margin-top: 0.19rem;;*/
    /*}*/
    /*form{*/
        /*margin-top: 0.99rem;*/
        /*width: 100%;*/
    /*}*/
    /*.ZH-user, .ZH-pass{*/
        /*width:6.2rem;*/
        /*height: 0.9rem;*/
        /*margin: auto;*/
        /*text-align: center;*/
        /*border: 1px solid #3A91FD;*/
        /*border-radius: 0.45rem;*/
    /*}*/
    /*.ZH-pass{*/
        /*margin-top: 0.38rem;*/
    /*}*/
    /*input{*/
        /*height: 100%;*/
        /*box-sizing: border-box;*/
        /*border: 0;*/
    /*}*/
    /*.ZH-findbox{*/
        /*width: 5.25rem;*/
        /*height: 0.24rem;*/
        /*font-size: 0.24rem;*/
        /*line-height: 0.24rem;*/
        /*margin: 0 auto;*/
        /*position: relative;*/
        /*margin-top: 0.38rem;;*/
    /*}*/
    /*.findpass{*/
        /*position: absolute;*/
        /*left: 0;*/
    /*}*/
    /*.ZH-findbox a{*/
        /*text-decoration: none;*/
        /*color: #3A91FD;*/
    /*}*/
    /*.zhuce{*/
        /*position: absolute;*/
        /*right: 0;*/
    /*}*/
    /*.ZH-btn{*/
        /*width: 5.65rem;*/
        /*height: 0.7rem;*/
        /*background: #3A91FD;*/
        /*margin: 0 auto;*/
        /*border-radius: 0.4rem;*/
        /*overflow: hidden;*/
        /*margin-top: 1.1rem;*/
        /*position: relative;*/

    /*}*/
    /*.ZH-btn input{*/
        /*width: 100%;*/
        /*height: 100%;*/
        /*color:#fff ;*/
        /*font-size: 0.25rem;*/
        /*background:#3ABFFD;*/
    /*}*/
    /*.dian1,.dian2{*/
        /*width:0.06rem;*/
        /*height: 0.06rem;*/
        /*border-radius: 0.06rem;*/
        /*background: #fff;*/
        /*position: absolute;*/
        /*top: 0.35rem;*/
    /*}*/
    /*.dian1{*/
        /*left: 0.3rem;*/
        /*top: 0.35rem;*/
    /*}*/
    /*.dian2{*/
        /*right: 0.3rem;*/
    /*}*/


</style>
<body>

<div class="ZH-update-header">
    <div class="ZH-update">
        <a href="">&lt;</a>修改密码</div>
    <div class="ZH-logo-update"><img src="img/logo_03.png" alt=""/></div>
</div>
<div class="ZH-logobox">
    <div class="ZH-word">或作或辍，一曝十寒，则虽读书百年，吾未见其可也。
        <div class="ZH-name">——吴梦祥</div>
        <form action="" method="post" id="four">
            <div class="ZH-user">
                <i class="icon-font "></i>  <!-- 字体图标-->
                <input type="password" name="password" placeholder="输入密码"/>
            </div>
            <div class="ZH-pass">
                <input type="password" name="password" placeholder="请再次输入密码"/>
            </div>
            <div class="ZH-findbox">
                <div class="findpass">
                    <i class="icon-font"></i><!-- 字体图标-->
                    <a href="">我要登陆</a>
                </div>
                <div class="zhuce">
                    <i class="icon-font"></i><!-- 字体图标-->
                    <a href="">我要注册</a>
                </div>
            </div>
            <div class="ZH-btn">
                <input type="submit" name="submit" value="完成"/>
                <div class="dian1"></div>
                <div class="dian2"></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>